{% block subject %}You have been banned{% endblock %}

{% block body %}

<p>Your account is banned from admin because of suspicious activity.</p>
{{ message }}


<p>If you have any questions or concerns, please do not hesitate to contact us.</p>

<p>Best regards,<br>
The Administration Team</p>
{% endblock %}