{% block subject %}Confirmation of your registration{% endblock %}

{% block body %}

<p>Thank you for registering with our website! Please click the link below to confirm your registration:</p>

<a href="{{ signedUrl }}">Confirm Registration</a>

<p>If you have any questions or concerns, please do not hesitate to contact us.</p>

<p>Best regards,<br>
The Registration Team</p>
{% endblock %}